* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fae1f9;
}

header {
    width: 100%;
    padding: 20px;
    background-color:pink;
}

header h1 {
    text-align: center;;
}

main {
    width: 100%;
}

.intro {
    width: 100%;
    padding: 20px;
}

.intro h2 {
    margin-bottom: 10px;
}

.cards-container {
    width: 100%;
    padding: 20px;
}

article {
    width: 100%;
    margin-bottom: 16px;
    padding: 20px;
    border: 1px solid black;
}

article h2 {
    margin-bottom: 10px;
}

footer {
    width: 100%;
    margin-top: 24px;
    padding: 20px;
    background-color: pink;
    text-align: center;
}

@media (min-width: 768px) {
    article {
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top;
        margin-bottom: 0;
        min-height: 200px;
    }
}
